@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* NotoSans */
/* @font-face {
	font-family:'Noto Sans KR'; 
	src:
		url('../fonts/notosans/notokr_regular.eot') format('embedded-opentype'), 
		url('../fonts/notosans/notokr_regular.woff2') format('woff2'), 
		url('../fonts/notosans/notokr_regular.woff') format('woff'); 
	font-weight:normal; 
	font-style:normal;
}

@font-face {
	font-family:'Noto Sans KR'; 
	src:
		url('../fonts/notosans/notokr_medium.eot') format('embedded-opentype'), 
		url('../fonts/notosans/notokr_medium.woff2') format('woff2'), 
		url('../fonts/notosans/notokr_medium.woff') format('woff'); 
	font-weight:500; 
	font-style:normal;
}

@font-face {
	font-family:'Noto Sans KR'; 
	src:
		url('../fonts/notosans/notokr_bold.eot') format('embedded-opentype'), 
		url('../fonts/notosans/notokr_bold.woff2') format('woff2'), 
		url('../fonts/notosans/notokr_bold.woff') format('woff'); 
	font-weight:700; 
	font-style:normal;
} */

/* @import url('//fonts.googleapis.com/earlyaccess/notosanskr.css'); */

/* Fontawesome */
@import url('//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*=========================================================
2. 리셋
=========================================================*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;box-sizing:border-box;border:0;font-family:'sofia-pro',-apple-system,BlinkMacSystemFont,'Droid Sans','Malgun Gothic','맑은 고딕',Dotum,돋움,sans-serif;font-size:100%;letter-spacing:0;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box}[lang=en]{font-family:'sofia-pro'}body{position:relative;line-height:1.8;background:#fff;font-size:16px;color:#111;word-wrap:break-word;word-break:keep-all;-webkit-text-size-adjust:none;-moz-text-size-adjust:none}blockquote,q{quotes:none}li,ol,ul{list-style:none}a{color:#111;text-decoration:none}a:hover,button:hover{cursor:pointer}:focus{outline:0!important}:invalid{-webkit-box-shadow:none;box-shadow:none}:-moz-submit-invalid{box-shadow:none}:-moz-ui-invalid{box-shadow:none}button::-moz-focus-inner{margin-top:-2px;margin-bottom:-2px;padding:0;border:0}input::-moz-focus-inner{margin-top:-2px;margin-bottom:-2px;padding:0;border:0}img{max-width:100%;height:auto}button{background:0 0}address,em,i{font-style:normal}button span{position:relative}.hidden{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0)}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

/* 그리드 */
.container {position:relative; max-width:1200px; margin:0 auto; padding:0 30px;}

@media (max-width:1680px) {
	.container {max-width:1170px;}
}

@media (max-width:1024px) {
	.container {padding:0 24px;}
}

/* 링크 */
[data-border] {display:inline-block; position:relative;}
[data-border]:before {content:''; position:absolute; bottom:0; left:0; width:100%; height:1px; background:#111; transition:all .3s; transform:scaleX(0);}
[data-border]:hover:before {transform:scaleX(1);}

/* 헤더 */
header {overflow:hidden; width:100%; height:180px;}
header h1 {position:absolute; z-index:2; top:110px; left:30px;}
header h1 a {display:block; font-size:0; transform-origin:center bottom;}
header h1 a:hover {animation:hello .5s;}
header h1 img {height:48px;}

@media (max-width:1024px) {
	header {position:fixed; top:0; left:0; z-index:1; width:100%; height:120px; background:#fff;}
	header.on {height:100vh;}
	header h1 {top:50px; left:24px;}
	header h1 img {height:37px;}
	header .open {position:absolute; z-index:2; top:56px; right:24px; width:24px; height:24px; text-indent:-9999px;}
	header .open span {position:absolute; left:0; width:100%; height:4px; background:#000; transition:all 0.3s;}
	header .open span:nth-child(1) {top:0; transform-origin:left top;}
	header .open span:nth-child(2) {top:50%; width:100% !important; margin-top:-2px;}
	header .open span:nth-child(3) {bottom:0; transform-origin:left bottom;}
	header.on .open span {width:125%; background:#fff;}
	header.on .open span:nth-child(1) {left:2px; transform:rotate(45deg);}
	header.on .open span:nth-child(2) {opacity:0;}
	header.on .open span:nth-child(3) {left:2px; transform:rotate(-45deg);}
}

@-webkit-keyframes hello {
    0% {-webkit-transform:rotate(-15deg); transform:rotate(-15deg);}
	25% {-webkit-transform:rotate(15deg); transform:rotate(15deg);}
	50% {-webkit-transform:rotate(-15deg); transform:rotate(-15deg);}
	75% {-webkit-transform:rotate(15deg); transform:rotate(15deg);}
    100% {-webkit-transform:rotate(0deg); transform:rotate(0deg);}
}

@keyframes hello {
    0% {-webkit-transform:rotate(-15deg); transform:rotate(-15deg);}
	25% {-webkit-transform:rotate(15deg); transform:rotate(15deg);}
	50% {-webkit-transform:rotate(-15deg); transform:rotate(-15deg);}
	75% {-webkit-transform:rotate(15deg); transform:rotate(15deg);}
    100% {-webkit-transform:rotate(0deg); transform:rotate(0deg);}
}

/* 네비게이션 */
nav {position:absolute; top:110px; right:30px;}
nav .menu {margin-right:-20px;}
nav .menu li {float:left; padding:10px 20px;}
nav .menu li a {display:block; line-height:1.6em; font-size:18px;}

@media (max-width:1024px) {
	nav {position:fixed; top:0; left:0; z-index:1; width:100%; height:100vh; background:#000; transform:translateY(-100%);}
	header.on nav {color:#fff; transition:all .3s cubic-bezier(.75, 0, 1, .25); transform:translateY(0);}
	nav .nav_wrap {height:100%;}
	nav .menu {padding-top:120px;}
	nav .menu li {float:none; padding:10px 0;}
	nav .menu li a {display:inline-block; line-height:1em; font-size:40px; font-weight:600; color:#fff; transition:all .3s; transform:translateX(-100%); opacity:0;}
	header.on nav .menu li a {opacity:1; transform:translateX(0);}
	header.on nav .menu li a:before {bottom:-8px; height:4px; background:#fff;}
	header.on nav .menu li:nth-child(1) a {transition-delay:.4s;}
	header.on nav .menu li:nth-child(2) a {transition-delay:.5s;}
	header.on nav .menu li:nth-child(3) a {transition-delay:.6s;}
	nav .misc {position:absolute; bottom:40px; padding:0 24px;}
	nav .sns li {line-height:1.5em; padding:0.25em 0; font-size:16px;}
	nav .sns li a {color:#fff;}
	nav .sns li a:before {background:#fff;}
	nav .copyright {margin-top:20px; color:#888; font-size:14px;}
	nav .copyright a {color:inherit;}
}

@media (max-width:599px) {
	nav .sns li {font-size:15px;}
	nav .copyright {font-size:13px;}
}

/* 컨텐츠 영역 */
.content {padding-bottom:120px;}

@media (max-width:1024px) {
	.content {padding-bottom:70px;}
}

/* 목록형 리스트 */
/* * + [data-list] {margin-top:5px;} */
[data-list] {font-size:16px; text-indent:0;}
[data-list] > li {position:relative; line-height:1.8em; padding-left:10px; font-weight:400; text-align:left;}
[data-list] > li:before {content:''; position:absolute; left:0;}
[data-list].type1 > li:before {top:.8em; width:4px; height:1px; background:#333;}
[data-list].type2 > li:before {top:.8em; width:4px; height:4px; border-radius:50%; background:#333;}
[data-list].type3 > li {padding-left:1em; text-indent:-1em;}
[data-list] [data-list] {margin:5px 0 10px;}

@media (max-width:1024px) {
	[data-list] {font-size:14px;}
}

@media (max-width:599px) {
	[data-list] {font-size:12px;}
}

/* 포트폴리오 */
.portfolio {overflow:hidden; margin:-10px; margin-top:84px;}
.portfolio li {float:left; position:relative; width:50%; padding:10px; font-size:0;}
.portfolio li img {width:100%;}
.portfolio li a {display:block; overflow:hidden; position:relative; border-radius:10px; font-size:0;}
/* .portfolio li .overlay {display:table; position:absolute; top:0; left:0; width:100%; height:100%; background:#000; text-align:center; transition:all .3s; opacity:0;}
.portfolio li a:hover .overlay {opacity:1;}
.portfolio li .txt_wrap {display:table-cell; color:#f0f0f0; vertical-align:middle;}
.portfolio li .txt_wrap .tit {display:block; line-height:1.2em; font-size:26px;}
.portfolio li .txt_wrap small {display:block; line-height:1.5em; margin-top:10px; font-size:10px; text-transform:uppercase;} */
.portfolio li .txt_wrap {position:absolute; top:50px; left:0; width:100%; padding:0 50px; font-weight:500; color:#00e; text-align:left;}
.portfolio li .txt_wrap .tit,
.portfolio li .txt_wrap small {display:inline-block; position:relative; line-height:1.5em;}
.portfolio li .txt_wrap .tit {font-size:28px;}
.portfolio li .txt_wrap small {margin-top:5px; font-size:16px; text-transform:capitalize;}
.portfolio li .txt_wrap .tit:after,
.portfolio li .txt_wrap small:after {content:""; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#00e; transition:all 0.3s; transform:scaleX(0);}
.portfolio li a:hover .txt_wrap .tit:after,
.portfolio li a:hover .txt_wrap small:after {transform:scaleX(1);}

@media (max-width:1024px) {
	.portfolio {margin:-12px; margin-top:50px;}
	.portfolio li {padding:12px;}
	.portfolio li .txt_wrap {top:24px; padding:0 24px;}
	.portfolio li .txt_wrap .tit {font-size:20px;}
	.portfolio li .txt_wrap small {font-size:13px;}
	
}

@media (max-width:599px) {
	.portfolio {margin:0; margin-top:36px;}
	.portfolio li {float:none; width:100%; margin:24px 0; padding:0;}
	.portfolio li:last-child {margin-bottom:0;}
}

/* 푸터 */
footer {padding:40px 0 124px; font-size:16px;}
footer .footer_wrap	{line-height:1.5em; margin-top:-0.25em;}
footer .footer_wrap:after {content:""; display:block; clear:both;}
footer .sns {float:right; margin-right:-15px;}
footer .sns li {float:left; padding:0 15px;}
footer .copyright {float:left; color:#888;}
footer .copyright a {color:inherit;}
footer .copyright a:before {background:#888;}

@media (max-width:1024px) {
	footer {padding:30px 0 40px;}
	footer .footer_wrap {line-height:1.5em; font-size:15px;}
	footer .sns {float:none; text-align:center;}
	footer .sns li {display:inline-block; float:none; line-height:1.5em; padding:.25em 15px; font-size:16px;}
	footer .copyright {text-align:center; float:none; margin-top:20px;}
}

@media (max-width:599px) {
	footer .sns li {display:block; padding:.25em 0; font-size:15px; text-align:left;}
	footer .copyright {font-size:13px; text-align:left;}
	footer .footer_wrap {font-size:13px;}
}

/* TOP 버튼 */
.move_top {visibility:hidden; position:fixed; right:30px; bottom:30px; z-index:7; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0;}
.move_top.on {visibility:visible; bottom:40px; opacity:1;}
.move_top button {position:relative; width:45px; height:24px; line-height:1; text-align:center; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.move_top button:before,
.move_top button:after {position:absolute; content:""; bottom:0; width:74%; height:2px; background:#999;}
.move_top button:before {transform:rotate(-45deg); left:0; transform-origin:left bottom;}
.move_top button:after {transform:rotate(45deg); right:0; transform-origin:right bottom;}

/*=========================================================
4. 메인 페이지
=========================================================*/

.main {padding-top:30px;}
.main .greeting_msg {line-height:1.48em; font-size:54px; font-weight:500; color:#111;}
.main .greeting_txt {max-width:800px; line-height:1.625em; margin-top:80px; font-size:16px; color:#111;}
.main .greeting_txt p {margin-bottom:50px;}
.main .greeting_txt p:last-child {margin-bottom:25px;}
.main .greeting_txt p a {color:#00e;}
.main .greeting_txt p a:before {background:#00e;}
.main .extra {line-height:1.63em; margin-top:110px; font-size:16px;}
.main .extra > div {margin-top:30px;}
.main .extra > div:first-child {margin-top:0;}
.main .extra dt {margin-bottom:10px; font-weight:600; color:#111;}
.main .extra dd {position:relative; padding-left:.5em;}
.main .extra dd:before {content:''; position:absolute; top:13px; left:0; width:4px; height:1px; background:#111;}

@media (max-width:1024px) {
	.main {padding-top:111px;}
	.main .greeting_msg {line-height:1.5em; font-size:28px; letter-spacing:-.0075em;}
	.main .greeting_txt p {margin-bottom:40px;}
	.main .extra {margin-top:80px;}
}

@media (max-width:599px) {
	.main .greeting_msg {max-width:300px;}
	.main .greeting_txt {line-height:1.7em; margin-top:60px; font-size:14px;}
}

/*=========================================================
5. 서브 페이지
=========================================================*/

/* 공통 */
.sub .screenshot img {display:block; width:100%;}
.sub .screenshot .cmt {margin-top:15px; font-size:12px; text-align:center;}
.sub .txt {max-width:960px; padding-bottom:120px;}
.sub .info_txt {font-size:16px; font-weight:350;}

@media (max-width:1024px) {
	.sub {padding-top:111px;}
}

/* 개요 */
.sub .info .box {padding-top:60px;}
.sub .project_tit {line-height:.95em; margin-bottom:20px; font-size:36px; font-weight:600;}
.sub .project_info {width:100%; margin:0 -20px; margin-top:60px; font-size:16px;}
.sub .project_info:after {content:""; display:block; clear:both;}
.sub .project_info > div {float:left; width:220px; padding:0 20px;}
.sub .project_info > div:last-child {padding-right:0;}
.sub .project_info dt {line-height:1em; margin-bottom:12px; font-weight:600;}
.sub .project_info dd {line-height:1.5em; font-weight:300;}

/* 상세 */
.sub h3 {line-height:.95em; margin-bottom:29px; font-size:24px; font-weight:600;}
.sub h4 {margin-bottom:15px; font-size:18px; font-weight:600;}
.sub .detail .txt {padding-top:40px;}
.sub .detail .box .info_tit {display:block;}
.sub .detail .box:last-child .info_txt {margin-bottom:0;}
.sub .detail .box .inner:not(:first-of-type) {margin-top:60px;}
.sub .detail .slider {overflow:hidden; height:500px; font-size:0;}
.sub .detail .slider .slide {width:1800px !important; height:500px; background:url(https://via.placeholder.com/1800x500); background-size:cover; background-position:center;}
.sub .misc {margin-top:10px;}
.sub .info_txt + .info_txt {margin-top:1em;}
.sub .column_wrap {display:table; width:calc(100% + 40px); margin-left:-20px; table-layout:fixed;}
.sub .info_txt + .column_wrap {margin-top:30px;}
.sub .column_wrap .column {display:table-cell; padding:0 20px;}
.sub video {display:block; width:100%; max-width:360px; margin:50px auto 0;}

/* 하단 */
.sub .project_list {margin-top:120px; text-align:center;}
.sub .project_list ul {max-width:1000px; margin:0 auto; font-size:0;}
.sub .project_list li {display:inline-block; line-height:1.2em; margin-top:20px; padding:0 15px; font-size:24px;}
.sub .project_list li a {position:relative; font-family:'sofia-pro'; color:#888; transition:all .5s;}
.sub .project_list li a:before {content:""; position:absolute; left:0; bottom:0; width:100%; height:1px; background:#888; transition:transform 0.3s; transform:scaleX(0);}
.sub .project_list li a:hover:before {transform:scaleX(1);}
.sub .project_list li.on a {font-weight:700; color:#000;}
.sub .project_link {text-align:center;}
.sub .project_link.margin {margin-top:120px;}
.sub .project_link a {display:inline-block; position:relative; height:1.5em; font-size:28px; font-weight:500; color:#00f;}
.sub .project_link a:before {background-color:#00f;}

@media (max-width:1024px) {
	.sub .txt {padding-bottom:60px;}
	.sub .info_tit {font-size:16px;}
	.sub .info_txt {font-size:14px;}
	.sub .info .box {padding-top:30px;}
	.sub .project_tit {font-size:26px;}
	.sub .project_info {margin-top:30px;}
	.sub .project_info > div {float:none; width:100%; margin-bottom:20px;}
	.sub h3 {margin-bottom:15px; font-size:20px;}
	.sub h4 {font-size:18px;}
	.sub .detail .txt {padding-top:30px;}
	.sub .column_wrap {display:block; margin:0; width:100%;}
	.sub .column_wrap .column {display:block; margin-bottom:20px; padding:0;}
	.sub .project_list li {line-height:2em; margin:0; font-size:16px;}
	.sub .project_link a {font-size:20px;}
	.sub .project_link.margin {margin-top:60px;}
	.sub .detail .slider {height:250px;}
	.sub .detail .slider .slide {width:900px !important; height:250px;}
}

@media (max-width:599px) {
	.sub .txt {padding-bottom:40px;}
	.sub .info_tit {font-size:14px;}
	.sub .info_txt {font-size:12px;}
	.sub .info .box {padding-top:20px;}
	.sub .project_tit {font-size:22px;}
	.sub .project_info {font-size:14px;}
	.sub .project_info dt {margin-bottom:5px;}
	.sub h3 {font-size:18px;}
	.sub h4 {font-size:16px;}
	.sub .project_list li {line-height:1.8em; margin:0; padding:0 10px; font-size:14px;}
	.sub .project_link.margin {margin-top:40px;}
}

/*=========================================================
6. 애니메이션
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
    0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
    100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
    0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
    100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
    0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
    100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
    0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
    100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
    0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
    100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
    0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
    100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {-webkit-animation-play-state:paused; animation-play-state:paused; opacity:0;}
.animated {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both;}